@font-face {
  font-family: "Open Sans";
  src:url("../fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf");
}

html, section, footer, nav, table{
  width: 100%;
}

html{
  height: 100%;
}

body{
  font-size: 1.1em;
  font-family: "Open Sans";
  color: #292929;
  padding-top: 100px;
}
img,.nav-elem{
  box-shadow: 0 0 15px #999;

  &:hover{
    opacity: 0.9;
  }
}

header{
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

a,a:hover,a:visited{
  text-decoration: none;
  color: #292929;
}

nav{
  background-color: white;
  padding: 20px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 3;

  & .sub-menu{
    background-color: white;
    display: none;
    position: absolute;
    list-style-type: none;
    padding: 0px;
  }

  & .nav-elem{
    background-color: white;
    border: 1px solid lightgray;
    text-decoration: none;
    color: #292929;
    padding: 15px;
  }

  & .nav-elem:hover{
    background-color:#5c65ff;
    color: white;

    .sub-menu{
      display: block;
    }
  }
}

.trips{
  display: flex;
  justify-content: space-around;

  & picture img{
    border-radius: 50%;
    border: 1px gray;
  }
}

section{
  height: calc(100% - 600px);
}

.formSection{
  width: 100%;
  display: flex;
  justify-content: center;

  & form {
    width: fit-content;

    & .imagePreview {
      padding: 10px;

      & img{
        max-width: 150px;
      }
    }

    & .formContainer{
      display: flex;
      justify-content: space-between;

      & div{
        display: flex;
        flex-direction: column;
        height: 100px;
        justify-content: space-around;
      }
    }
  }
}

div.videoContainer{
  width: 300px;

  & video{
    width: 100%;
  }
}

table, th, td{
  border: 1px #5c65ff solid;
}

table {
  text-align: center;

    & img{
      width: 300px;
      margin: 5px;
  }

  th{
    background-color: #5c65ff;
    color: white;
  }

  tr:nth-child(odd){
    background-color: #ADB2FF;
    color: #191919;
  }

  tr:hover{
    opacity: 0.8;
  }
}

.customButton{
  border: 1px solid lightgray;
  background: none;
  padding: 15px;

  &:hover{
    opacity: 0.7;
    cursor:grab;
  }
}

.space{
  height: 200px;
  background-color: #5c65ff;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer{
  height: 50px;
  background-color: white;
  text-align: center;
}
